body{
    background-color: rgb(248, 238, 248);
    font-family: 'Nunito', sans-serif; 
    

}
header {
    background-color: rgb(228, 222, 222);
    opacity: 90%;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header-banner{
    width: 100vw;
    margin: auto;
}
@media(max-width:576px){
    .header-banner{
        margin-top: 20px;
    }
}
     
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    text-align: center;
    color: rgb(36, 34, 34); 
    margin-top: 5%;

}
.subtitulos{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 10px;
    margin: 10px;
    color: rgb(36, 34, 34)
}

h2{
    text-align: center;
    font-size: 50px;
    color: rgb(36, 34, 34)
}

footer{
    background-color: rgb(228, 222, 222);
    text-align: center;
    margin-top: 100px ;
    padding: 30px;
}

.botonmorado{
    background-color: rgb(71, 37, 71);
    color: white;
    padding: 10px 20px;
    margin: 20px auto;
    width: 60%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.botonmorado:hover{
    background-color: rgb(95, 74, 95);
    color: white;

}
.parrafos{
    background-color: rgb(217, 195, 236);
    text-align: center;
    color: rgb(36, 34, 34);
    width: 100%;
    padding: 5px;
    font-size: x-large;
}
.parrcenter{
    text-align: center;
    color: rgb(36, 34, 34)
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    bottom: 0;
    margin:  20px;
    color: rgb(255, 255, 255);
    background-color: rgba(156, 151, 161, 0.5);
    z-index: 0;   
}

.parrmar{
    margin-top: 30px;
}
.col-lg-4{
    padding: 5px;
}

iframe{
    padding-top: 15px;
}

.aquiestoy{
    font-weight: bold;
}

@media (max-width: 768px) {
    .pruebarev {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

.img-chica{
    width: 50px;
    height: 50px;
}

.navmia{
    font-size: xx-large;
}

.colorhover{
    color:  rgb(36,34,34);
    
}
 .colorhover:hover{
    color: rgb(117, 114, 114);
 }

 .margentop{
    margin-top: 110px;
 }

 h5{
    padding: 10px;
 }

