div{
    form{
        display: flex;
        padding: 5rem;
        width: auto;
        height: 50%;
        padding: 5rem 20rem;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        @media (max-width:922px){
            padding: 1rem;
        }

    }
}

.colormio:checked{
    background-color: nth($colores, 2);
    border-color: nth($colores, 2) !important; 
}